{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="col-md-5 offset-md-2 login_info">
    <h1 class="text-light display-4" style="font-size: 60px;">Log In Your Acc.</h1>
</div>

<div class="col-md-5 info">
    <div class="card bg-card" style="width: 20rem;">
        <div class="card-body">
            <!-- Login Form -->
            <form action="/login" method="post" style="text-align: center">
                <label>Email:</label><br>
                <input type="email" class="form-control input_form" name="email"><br>
                <label>Password:</label><br>
                <input type="password" class="form-control input_form" name="pass"><br>
                <input type="submit" class="btn btn-outline-light btn-block" value="Log In">
                <button class="btn btn-outline-light btn-block">Google</button>
                <br><br>
            </form>
        </div>
    </div>
</div>
{% endblock %}

