{% extends 'base.html' %}

{% block title %}
Slink
{% endblock %}

{% block login %}
{% if not customer_id %}
<li class="nav-item">
    <a class="nav-link" href="/login">LOGIN</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/signup">SIGNUP</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/logout">LOGOUT</a>
</li>
{% endif %}
{% endblock %}

{% block body %}

<div class="col-md-6 offset-md-3 info">
    <h1 class="text-center">SLINK</h1>
    <p class="text-center">
        Shorten Your Link Using Slink!
    </p>
    <form action="/slink_it" autocomplete="off" class="input-group mb-3" method="post">
        <input name="long_link" type="text" class="form-control" placeholder="Enter Your Link...." aria-label="Enter Your Link...."
               aria-describedby="button-addon2">
        <button class="btn btn-secondary btn-md" type="submit" id="button-addon2">Slink it!</button>
    </form>
</div>
{% endblock %}