{% extends 'base.html' %}

{% block title %}
Slink
{% endblock %}

{% block body %}
<div class="col-md-6 offset-md-3 info">
    <h1 class="text-center">SLINK</h1>
    <p class="text-center">
        Shorten Your Link Using Slink!
    </p>
    <form action="/slinkit" class="input-group mb-3" method="post">
        <input name="longlink" type="text" class="form-control" placeholder="Enter Your Link...." aria-label="Enter Your Link...."
               aria-describedby="button-addon2">
        <button class="btn btn-secondary btn-lg" type="submit" id="button-addon2">Slink it!</button>
    </form>
</div>
{% endblock %}